html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400; 
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #f2f2f2;
  }

  .sidetop {
      top: 0;
      height: 75px;
      width: 100%;
      background-color: #2755b0;
      position:sticky;
  }
  .sidenav {
    font-size: 80px;
    margin-top: 75px;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    font-size: 20px;
    margin:40px 70px 40px 190px;
    /* padding: 0px 10px; */
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.card {
    background-color: white;
    transition: 0.3s;
    width: 100%;
    border-radius: 20px;
    padding: 2px 20px 20px 20px;
}

.card-container {
    padding: 0px 20px 20px 20px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #4da6ff;
    border: 1px solid #dddddd;
    color:white;
    text-align: left;
    padding: 4px;
    font-size: 22px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    font-size: 17px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.option-add{
    margin-top: 30px;
    margin-bottom: 30px;
}

.option-update {
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.option-delete {
    background-color: #ff471a;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.option-add {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 20px;
    margin: 40px 0px 40px 0px;
    cursor: pointer;
}

.option-search {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #737170;
    border: none;
    color: white;
    padding: 10px 10px 8px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
}

.search-input {
    width: 70%;
    padding: 4px 4px 4px 4px;
    margin: 8px 8px 8px 8px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-size: 20px;
}

.add-label {
  padding: 10px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 8px;
}

.col-30 {
  float: left;
  width: 5%;
  margin-top: 8px;
}

.col-75 {
  float: left;
  width: 35%;
  margin-top: 8px;
}

.col-70 {
  float: left;
  width: 5%;
  margin-top: 8px;
}

.col-10 {
  float: left;
  width: 65%;
  margin-top: 8px;
}

.col-90 {
  float: left;
  width: 35%;
  margin-top: 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.add-input {
  width: 380px;
  padding: 4px 4px;
  margin: 8px 8px 8px 5px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  font-size: 20px;
}

.add-textarea {
  margin-left: 5px;
  border: 1px solid #555;
  outline: none;
  width: 100%;
}

.add-btn{
  background-color: #33b537;
  border: 1px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display:block;
  line-height: 50px;
  font-size: 20px;
  margin: 0px 0px 40px 0px;
  cursor: pointer;
  width: 70px;
  height: 50px;
}

.dashboard-card{
  line-height: 0;
  border: 2px solid;
  border-radius: 8px;
  box-sizing: border-box;
  width: 21.25%;
  height: 150px;
}

.categories-dashboard-card {
  background-color: green;
  color: white;
}

.brands-dashboard-card {
  background-color: yellow;
  color: white;
}

.products-dashboard-card {
  background-color: brown;
  color: white;
}

.orders-dashboard-card {
  background-color: violet;
  color: white;
}

.dashboard-card-number {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
}

.dashboard-card-title {
  margin-top: 46px;
  margin-left: 20px;
}

.card-hr {
  margin-top: 10px;
  margin-bottom: 52px;
}

.bottom-dashboard-card-link{
  margin-left: 20px;
  margin-bottom: 2p;
}
.bottom-dashboard-card-bar{
  background-color: white;
  height: 2px;
}